@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
.header {
  margin: 0;
  width: 100%;
  height: 104px;
}

.body {
  margin: 0;
  width: 100%;
  max-width: 1600px;
  min-width: 360px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  font-family: Raleway, Arial, sans-serif;
}

.preview {
  margin: 36px auto 0;
  width: 91%;
}

.preview__text {
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: "pnum" on, "lnum" on, "ss09" on;
}

.cards {
  margin: 36px auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(328px, 376px));
  grid-template-rows: repeat(auto-fit, 1fr);
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 328px;
  width: 91%;
  margin: 0 auto 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.card_style_shadow {
  box-shadow: 0 0 24px rgba(0, 170, 170, 0.3);
}

.card_style_shadow-sand {
  box-shadow: 0 0 24px rgba(204, 159, 122, 0.3);
}

.card_style_blue {
  border: 1px solid #00AAAA;
}

.card_style_red {
  border: 1px solid #CC9F7A;
}

.card__info {
  margin: 20px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 90%;
}

.card__link {
  text-decoration: none;
  color: #00AAAA;
}

.card__title {
  margin: 0;
  text-align: center;
  color: #005252;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  box-sizing: border-box;
}

.card__img {
  margin: 16px 0;
  width: 53px;
  aspect-ratio: 53/72;
  object-fit: contain;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

.card__list {
  align-self: start;
  margin: 0;
  padding-left: 9px;
}

.card__element {
  width: 95%;
  margin: 0 auto 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #1A1A1A;
  box-sizing: border-box;
  font-feature-settings: "pnum" on, "lnum" on, "ss09" on;
}

.card__info-advance {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  margin: 8px auto 4px;
  width: 90%;
  text-decoration: none;
}

.card__price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0 12px;
  width: 100%;
  box-sizing: border-box;
}

.card__cost {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  box-sizing: border-box;
  font-feature-settings: "pnum" on, "lnum" on, "ss09" on;
}

.card__cost_text_through {
  text-decoration: line-through;
  margin-right: 6px;
}

.card__button {
  width: 288px;
  height: 64px;
  border: none;
  border-radius: 6px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 20px;
  box-sizing: border-box;
  padding: 0;
}

.card__button_background_blue {
  background-color: #00AAAA;
}

.card__button_background_sand {
  background-color: #CC9F7A;
}

.card__ribbon {
  background-image: url("../../../images/card__ribbon.svg");
  width: 108px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 0;
  right: 0;
}

.info {
  margin: 0 auto;
  width: 91%;
  min-width: 328px;
  max-width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 16px 24px;
  box-sizing: border-box;
  flex-direction: column;
}

.info__text {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: "pnum" on, "lnum" on, "ss09" on;
}

.info__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  align-self: start;
  text-decoration: none;
  color: black;
}

.info_style_salad {
  background-color: #EAF7DF;
}

.info_style_sand {
  background-color: #FAF3ED;
}

.questions {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  min-width: 328px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.questions__title {
  margin: 40px auto 0;
  padding-bottom: 40px;
  width: 91%;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  border-bottom: 1px solid #CCCCCC;
}

.question {
  display: flex;
  justify-content: space-between;
  width: 91%;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #CCCCCC;
  box-sizing: border-box;
}

.questions__button {
  background-image: url("../../../images/qustion__button.svg");
  background-color: rgba(0, 0, 0, 0);
  width: 16px;
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  align-self: center;
  margin: 0;
  padding: 0;
}

.question__paragraph {
  margin: 0;
  width: 77%;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  font-feature-settings: "pnum" on, "lnum" on, "ss09" on;
}

/*# sourceMappingURL=index.css.map */
