.questions__title {
  margin: 40px auto 0;
  padding-bottom: 40px;
  width: 91%;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  border-bottom: 1px solid #CCCCCC;
}