.questions__button{
  background-image: url("../../../images/qustion__button.svg");
  background-color: rgba(0,0,0,0);
  width: 16px;
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  align-self: center;
  margin: 0;
  padding: 0;
}